@import "./components";

@import "tailwindcss";

@theme static {
	--color-primary: #f29100;
	--color-error: #ff0000;
}

@layer base {
	:host {
		/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
		interpolate-size: allow-keywords;

		--tw-inset-shadow: 0 0 #0000;
		--tw-ring-shadow: 0 0 #0000;
		--tw-inset-ring-shadow: 0 0 #0000;
		--tw-ring-offset-width: 0px;
		--tw-ring-offset-color: #fff;
		--tw-ring-offset-shadow: 0 0 #0000;
	}

	::-webkit-inner-spin-button {
		display: none;
	}

	button {
		cursor: pointer;
	}

	input:focus-visible {
		outline: none;
	}
}

@layer components {
	.default-btn {
		@apply rounded-md border border-slate-200 bg-slate-50 font-semibold text-slate-600 text-sm transition-colors hover:border-slate-300 hover:bg-slate-200/70;
	}

	.highlighted-btn {
		@apply rounded-md border border-primary/40 bg-primary/10 font-semibold text-primary text-sm transition-colors hover:border-primary/100;
	}
}
