.primary-char-input {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(127, 127, 127, 0.3);
	border-radius: 4px;
	transition-property: border-color, box-shadow;
	transition-duration: 200ms;

	&:focus {
		border-color: color(from var(--color-primary) srgb r g b / 0.4);
		box-shadow: 0px 0px 0px 4px
			color(from var(--color-primary) srgb r g b / 0.15);
	}
}
